doctype html
html(lang='en')
  head
    title Py to Exe online converter 
    meta(name='Description', content='Convert python to exe online. Convert your Python script (.py) into a standalone Windows executable (.exe) online in your browser. 100% free python to exe converter.')
    meta(name='Keywords', content='python executable windows, create exe from python, online converter, py to app, python to exe, py2app, py to exe, py2exe, python windows, create windows executable python, python to windows, generate exe from python, python script to exe, exe generator, python to exe converter online, online python compiler, how to convert py to exe, py2exe for windows, pyinstaller, deploy python application, distribute python, package python')
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/skeleton.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/css/components/progress.css')
    link(href='css/jquery.tagit.css', rel='stylesheet', type='text/css')
    link(href='css/tagit.ui-zendesk.css', rel='stylesheet', type='text/css')
    link(rel='icon', type='image/png', href='images/favicon.ico')
  body
    noscript
      center.noscriptmsg Please enable javascript
    .container
      .row
        .twelve.columns
          img.u-pull-left.imglogo(src='https://www.python.org/static/opengraph-icon-200x200.png')
          p.u-pull-left.logo-text  py2exe 
          p.u-pull-left.logo-text-description  online converter 
          .socialbtngroup
            a.u-pull-right.social-btn-gap.social-btn(href='https://www.facebook.com/Py2App-553330731684826/' onClick="trackfcbclick()")
              i.fa.fa-facebook-official.fa-2x(aria-hidden='true')
            a.u-pull-right.social-btn.social-btn-gap(href='https://github.com/michaelcukier/' onClick="trackgithubclick()")
              i.fa.fa-github.fa-2x(aria-hidden='true')
            a.u-pull-right.social-btn(href='http://michaelcukier.com' onClick="trackblogclick()")
              i.fa.fa-male.fa-2x(aria-hidden='true')
      .row
        .twelve.columns.bordershadow.site-description
          .whatispytoexe  What is Py2Exe.net? 
          br
          h6(style="margin-bottom: 0px;") Py2Exe.net is an online utility that allows you to easily convert your python script into a Windows executable. How to py to exe: convert your Python script (.py) into a standalone Windows executable (.exe) online here. Web based Python to Exe converter, allows you to make python script into exe. How to convert Python to exe: follow the steps and compile your python script into an exe. Create exe from python easily. Distribute your python application with dependencies in minutes, and share your python code with anyone, and send python code to someone without python.
      .row
        .room_id
        .twelve.columns.bordershadow.steps
          .yellow-rectangle.u-pull-left  
          |  1  ─  UPLOAD YOUR .PY FILE
          br
          hr
          .fileselector1.upload-btn
            i.fa.fa-cloud-upload(aria-hidden='true')
            |  Select your .py file...
          input#upload-input-1(type='file', name='uploads[]')
          .text-info
            |  • must be a Python script version 3.* 
      //.row
        .twelve.columns.bordershadow.steps
          .yellow-rectangle.u-pull-left  
          |  2  ➜  CHOOSE PYTHON VERSION 
          br
          hr
          .pythonversion2.u-pull-left  Python 2 
          .pythonversion3.u-pull-left(style='margin-left: 10px;')  Python 3          
      .row
        .twelve.columns.bordershadow.steps
          .yellow-rectangle.u-pull-left  
          |  2  ─  IMPORT LIBRARIES (OPTIONAL) 
          hr
          .autotags
            ul#myTags
          .text-info
            |  • examples: facebook-sdk, selenium, numpy, pandas
            br
            |  • you must write the libraries as you would do 'pip install ...'
            br
            |  • you do not have to import the standard libraries (list of Python standard libraries: <a class="link_remove_underline" href="https://docs.python.org/3.5/py-modindex.html">https://docs.python.org/3.5/py-modindex.html</a>)
      .row
        .twelve.columns.bordershadow.steps
          .yellow-rectangle.u-pull-left  
          |  3  ─  ADDITIONAL FILES (OPTIONAL)
          br
          hr
          .fileselector2.upload-btn
            i.fa.fa-cloud-upload(aria-hidden='true')
            |  Select additional file(s)...
          input#upload-input-2(type='file', name='uploads[]', multiple="multiple")
          .text-info
            |  • upload here all the external data file(s) that your script is using (fonts, mp3s, ..). These files will be packed INSIDE the .exe file.
            br
            |  • do NOT write the path of the additional file(s) in your .py script. Just write the name of the file.
            br
            |  • example: change "C://me//desktop//myfont.ttf" in your python script  TO  "myfont.ttf"
            br
            |  • if you don't upload all the files needed by your .py script, your .exe will crash.
      .row
        .twelve.columns.bordershadow.steps
          .yellow-rectangle.u-pull-left  
          |  4  ─  CUSTOM ICON (OPTIONAL) 
          br
          hr
          .fileselector3.upload-btn
            i.fa.fa-cloud-upload(aria-hidden='true')
            |  Select your .ico file...
          input#upload-input-3(type='file', name='uploads[]')
      .row
        .twelve.columns.bordershadow.steps
          .yellow-rectangle.u-pull-left  
          |  5  ➜  APPLICATION SPECIFICATION: WINDOW-BASED OR CONSOLE-BASED
          br
          hr
          .window-based.u-pull-left  Window-based (I don't want to show the console)
          .console-based.u-pull-left(style='margin-left: 10px;')  Console-based   
      .row
        .twelve.columns.convertbutton
          .button.button-primary.convbut  CONVERT .PY TO .EXE NOW 
      // .whatcurrent
      //.row
        .twelve.columns.footer
          a.social-btn(href='https://www.facebook.com/Py2App-553330731684826/' onClick="trackfcbclick()")
            i.fa.fa-facebook-official.fa-2x(aria-hidden='true')
          a.social-btn.social-btn-gap(href='https://github.com/michaelcukier/')
            i.fa.fa-github.fa-2x(aria-hidden='true')
          a.social-btn.social-btn-gap(href='http://michaelcukier.com' onClick="trackblogclick()")
            i.fa.fa-male.fa-2x(aria-hidden='true')
  // script(src='https://buttons.github.io/buttons.js')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/js/socket.io.js") 
  script(src='https://unpkg.com/sweetalert2@7.2.0/dist/sweetalert2.all.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js', type='text/javascript', charset='utf-8')
  script(src='js/tag-it.js', type='text/javascript', charset='utf-8')
  script(src='/js/main.js')
