doctype html
html
  body
    form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      input(type='text', name='py_libraries')
      input(type='submit', value='Upload!')
