@font-face {
    font-family: "Nunito";
    src: url(http://py2exe.net/font/Nunito-Light.ttf) format("truetype");
}

body {
	font-family: "Nunito";
	font-weight: 100 !important;
	background-color: #FBFBFB;
}

.importlibscontainer,
.addfilescontainer,
.customiconcontainer,
.appspeccontainer {
  display: none;
}

.hr {
	border-top: 1px solid #FFCC00 !important;
	margin-top: 9px;
	margin-bottom: 15px;
	margin-left: -10px;
	margin-right: -10px;
}

.hr1,
.hr2,
.hr3,
.hr4 {
    margin-top: 13px;
}

a:hover {
	color: grey;
}

.bordershadow {
  	box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
    border-radius: 4px;
}

.button {
  	font-weight: 200 !important;
}

.please-select-file {
  	margin-left: 10px;
}

.fileselector1,
.fileselector2,
.fileselector3
{
	border: 1px dashed lightgrey;
	padding: 10px;
	color: grey;
	border-radius: 5px;
	text-align: left;
	cursor: pointer;
  padding-left: 15px;
}

.yellow-rectangle {
  width: 10px;
  height: 14px;
  background: #FFCC00;
  margin-right: 10px;
  margin-left: -10px;
  margin-top: 10px;
}

.ghbut {
	margin-top: 25px;
}

.pythonversion2,
.pythonversion3
{
	border: solid 3px #EEEEEE;
	width: 75px;
	padding: 10px;
	text-align: center;
	color: lightgrey;
	cursor: pointer;
}

.window-based,
.console-based
{
	border: solid 3px #EEEEEE;
	padding: 10px;
	text-align: center;
	color: lightgrey;
	cursor: pointer;
  border-radius: 3px;
}

.footer {
	/*background-color: #EBEFEF; */
	margin-top: 30px;
	padding: 10px;
	color: black;
	/*border: 1px lightgrey solid; */
	text-align: center;
}

.social-btn {
	text-decoration: none;
	color: darkgrey;
}

.steps {
	background-color: white;
	padding: 10px;
}

.convertbutton {
	margin-top: 25px;
	text-align: center;
}

.convbut {
	width: 100%;
	margin-bottom: 10px;
	background-color: #458BC6 !important;
	border: 1px solid #458BC6 !important;
	font-size: 15px;
		margin-left: 6%;
}

.convbut:hover{
	background-color: #5796cb !important;
	border: 1px solid #5796cb !important;
}

.social-btn-gap {
	margin-left: 25px;
}

.site-description {
	background-color: rgba(69, 139, 198, 0.15);
	margin-top: 0px;
	padding: 20px;
	color: grey;
	border: 1px lightgrey solid;
}

.whatispytoexe {
	font-size: 12px;
	margin-bottom: -20px;
}

.imglogo {
  width: 50px;
  margin-top: 5px;
}

.logo-text {
  margin-top: 9px;
  font-size: 30px;
  color: #666666;
  margin-left: 10px;
}

.logo-text-description {
  margin-top: 19px;
  margin-left: 20px;
  color: grey;
  font-size: 17px;
  letter-spacing: 0.04em;
}

.inputlibraries {
	padding: 10px;
	font-size: 20px;
	margin-bottom: 0px;
}

.inputlibraries:focus {
	outline: 0;
}

::placeholder {
  color: lightgrey;
  opacity: 1; /* Firefox */
}

/* BTN UPLOAD */

/*

.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

#upload-input {
  display: none;
}

*/

#upload-input-1 {
  display: none;
}

#upload-input-2 {
  display: none;
}

#upload-input-3 {
  display: none;
}

.loader {
	border: 2px solid #f3f3f3;
	border-top: 2px solid #458BC6;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	animation: spin 0.5s linear infinite;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-click {
  pointer-events: none;
	background-color: #EBEFEF !important;
	border: 1px solid #EBEFEF !important;
}

.whatcurrent {
	visibility: hidden;
	text-align: center;
	border: 1px dashed lightgrey;
	padding: 5px;
	margin-top: 10px;
}

#myTags {
	/* cursor: auto; */
	margin-bottom: 5px;
}

.autotags {
	cursor: text !important;
}

.tagit-choice {
	margin-bottom: -10px !important;
}

.noscriptmsg{
	background-color: red;
	color: red;
	font-size: 30px;
}

.alert_conv_stat {
	text-align: center;
	color: grey;
}

.link_remove_underline {
	text-decoration: none;
}

.swal2-styled {
  padding: 0px 40px !important;
}

.swal2-modal .swal2-styled:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none!important;
}

.text-info {
  background-color: #fef4d5;
  padding: 10px;
  margin-top: 10px;
  color: #666666;
  border-radius: 5px;
}

.socialbtngroup {
  margin-top: 12px;
}

ul.tagit li:not(:first-child) ::-webkit-input-placeholder {opacity: 0;}
ul.tagit li:not(:first-child) ::-moz-placeholder {opacity: 0;}
ul.tagit li:not(:first-child) ::-ms-input-placeholder {opacity: 0;}
ul.tagit li:not(:first-child) ::placeholder {opacity: 0;}

.showbutton_addfiles,
.showbutton_importlibs,
.showbutton_icofile,
.showbutton_appspec {
  cursor: pointer;
  border: 1px solid #1EAEDB;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 2px;
}

.showbutton_addfiles:hover,
.showbutton_importlibs:hover,
.showbutton_icofile:hover,
.showbutton_appspec:hover {
  color: #1EAEDB;
}

.likebutton {
	border: solid 2px #61A661;
	padding: 10px;
	text-align: center;
	color: #61A661;
	cursor: pointer;
	border-radius: 3px;
	width: 38%;
	font-weight: 900;
}


.dislikebutton {
	border: solid 2px #c9302c;
	padding: 10px;
	text-align: center;
	color: #c9302c;
	cursor: pointer;
	border-radius: 3px;
	width: 49%;
    font-weight: 900;
}

.bigseparator {
	border-top: 1px dashed lightgrey;
	border-bottom: 1px dashed #fff;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.eight.columns.bordershadow.steps {
	margin-left: 3.97%;
	margin-top: 15px;
}




